!!! 5
html
  head
    title Transparen.cc
    meta(charset="utf-8")

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")  


  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand #{title}

    .container
      .hero-unit
        h1= title

  script(type="text/javascript", src="js/index.js")
