!!! 5
html
  head
    title Not used, fool.
    meta(charset="utf-8")

  body
    .nav
      a.home(href="/") The Kepler Kompanion
      a(href="/exoplanet-visualization") Exoplanet Visualization
      a(href="/exoplanet-list") Exoplanet List

    .page
      p
        | This site is a submission of a segment of the New York group of the
        | <a href="http://spaceappschallenge.org">International Space Apps Challenge</a>.

      p
        | Specifically, this is
        ul
          li Jeanne (What's your last name, Jeanne?)

          li Mason (Mason, what's your last name? Not me, Mason, you, Mason. The one who is not typing this.)

          li
            a(href="https://github.com/mqsoh") Mason Staugler

          li Roald (Roald, I forgot your last name and it's very upsetting since we worked together. One should never forget a coworker's last name.)

      p Data for this tool is generously provided by <a href="http://exoplanets.org">Exoplanets.org</a>
